:root {
  --bg-color: #0c0f1a;
  --text-color: #ccd6f6;
  --text-light-color: #8892b0;
  --accent-cyan: #64ffda;
  /* cyan */
  --accent-green: #6faf04;
  /* green */
  --accent-mint: #78C091;
  /* mint */
  --accent-mindaro: #E9EB87;

  --accent: var(--accent-cyan);
  --font-xxl: 24px;
  --font-xl: 20px;
  --font-lg: 16px;
  --font-md: 14px;
  --font-sm: 12px;
  --font-xs: 10px;


  --bold: 700;
  --bold-sm: 500;

  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;


}

body {
  margin: 0;
  font-family: var(--font-sans);
  background: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-lg);
}

.mono {
  font-family: var(--font-mono);
}


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-shade {
  color: var(--text-light-color);
}

.accent-color {
  color: var(--accent);
}

.font-sm {
  font-size: var(--font-sm);
}

.font-md {
  font-size: var(--font-md);
}

.font-lg {
  font-size: var(--font-lg);
}

.font-xl {
  font-size: var(--font-xl);
}

.font-xxl {
  font-size: var(--font-xxl);
}


#hero_section {
  height: 100vh;
  margin: 0px auto;
  /* width: 100%; */
  max-width: 1600px;
  padding: 0px 150px;
}

#email_wrapper {
  position: fixed;
  right: 100px;
  top: 50px;
}

#email_wrapper a {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}

#email_wrapper a::after {
  content: "";
  position: absolute;
  background-color: var(--accent);
  height: 1px;
  width: 70px;
  top: 9px;
  right: -100px;
}

#social_links {
  position: fixed;
  bottom: 50px;
  left: 100px;
}

#social_links ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding-inline: 0px;
}

#social_links ul li {
  width: 25px;
}

#social_links ul li a {
  color: var(--text-color);
}

#social_links::after {
  content: "";
  position: absolute;
  background-color: var(--accent);
  height: 1px;
  width: 70px;
  top: 10px;
  left: -100px;
}

.big-heading {
  margin: 20px 0px;
  font-size: clamp(40px, 8vw, 80px);
}

@media (max-width: 768px) {
  #hero_section {
    padding: 0px 35px;
  }
  
}